.image.is-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image.is-256x256 {
  height: 256px;
  width: 256px;
}
.hero {
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body {
  font-family: Consolas, monospace !important;
}